{{!-- Main --}}

{{!< default}}

<div class="gh-page">
    <div class="gh-container">
        <header class="gh-page-head">
            {{#page}}
                <div class="gh-home-content">
                    <h2>{{title}}</h2>
                    <h3>{{content}}</h3>
                </div>
            {{/page}}
            <div class="gh-author-meta">
                <div class="gh-author-links">
                    {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener">Website</a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
                    {{/if}}
                </div>
            </div>

            {{#if cover_image}}
                <img class="gh-page-image" src="{{cover_image}}" alt="{{name}}" />
            {{/if}}
        </header>
        <div class="gh-postfeed">
        </div>
    </div>
</div>