{{!< default}}

{{#page}}
        <h3 class="gh-home-meta">{{content}}</h3>
            {{#if feature_image}}
                <img class="gh-home-feature-image"
                    srcset="{{img_url feature_image size="s"}} 150w,
                            {{img_url feature_image size="m"}} 300w,
                            {{img_url feature_image size="l"}} 500w,
                            {{img_url feature_image size="xl"}} 1000w"
                    sizes="(max-width: 500px) 500px, 1000px"
                    loading="lazy"
                    src="{{img_url feature_image size="s"}}"
                    alt="{{title}}"
                />
            {{/if}}
{{/page}}